@import '../app.component.scss';
.header{
  position: fixed;
  width: 100%;
  top: 0;
  background: white;
  z-index: 9000;

}
.header__block{
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
.header__input{
  justify-self: end;
}
.header__logo{
  justify-self: start;
}



.header__nav{
  top: 125px;
  position: absolute;
  display: grid;
  grid-row-gap: 5%;
  grid-template-columns: repeat(1, min-content );
}

.nav__btn{
  box-sizing: border-box;
  background: none;
  border:none;
  margin: 0 10px;
  padding:5px 10px;
  border-radius: 5px;
  cursor: pointer;

  &:hover{
    box-sizing: border-box;
    padding:2px 7px;
    border: 3px solid rgb(191, 221, 235);

  }
}

.nav__active{
  background-color: rgb(191, 221, 235);
  color: $white;
}


.header__about{

  background: rgb(191, 221, 235);
  box-sizing: border-box;
  width: 100%;
  margin-top: 10px;
  padding: 0 ;

  color: white;
}
.about__block{
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 4fr 2fr 2fr;
  align-items: center;
  justify-items: center;
}
