<header class="header">
  <div class="header__block">
    <div class="header__logo">{{emojiService.appTitle}}</div>
    <input class="header__input" type="text" placeholder="Искать.." [(ngModel)]="emojiService.searchString">
  </div>
<hr>


  <nav class="header__nav nav">
    <div
      class="nav__btn"
      routerLink="{{item.key}}"
      (click)="setLink(item.key)"
      *ngFor="let item of links | keyvalue:originalOrder">
      <a
        [class.link-color]="isLink(item.key)"
      >{{item.value}}</a>
    </div>
  </nav>
</header>



