@import '../app.component.scss';


cdk-virtual-scroll-viewport{
  width: 100%;
  margin: 0 auto;
  display: block;
  height: 100vh;
}



.container{
  padding-top: 50px;
}

.emoji{
  margin-top: 50px;
}

.del{
  display: none;
}

.emoji__list{
  padding-top: 50px;
}



.emoji__img{
  opacity: 0.5;
  width: 25px;
  transition: all .3s ease;
  &:hover{
    opacity: 1;
    transform: scale(2.56);
  }
}

.emoji__favourite{
  transform: scale(2.56);
  opacity: 1;
}

.emoji__favourite-block{
  transition: all .3s ease;
  background: var(--c-tr-blue);
}

.emoji__favourite-star{
  fill: var(--c-like);
}

.emoji__block{
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 1fr) min-content min-content;
  justify-items: center;
  grid-gap: 5%;
  align-items: center;
  border: 3px solid var(--c-blue);
  border-radius:15px;
  padding: 2%;
  text-align: center;
}

button{
  width: 30px;
  outline: none;
  background: none;
  border: none;
  &:hover{
    .emoji__icon-del{
      fill: var(--c-delete);
      transition: all .3s ease;
    }
    .emoji__icon-star{
      fill: var(--c-like);
      transition: all .3s ease;
    }
  }
}
.header__about{
  background: var(--c-blue);
  box-sizing: border-box;
  width: 100%;
  margin-top: 10px;
  padding: 0 ;
  color: var(--c-white);
}
.about__block{
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 4fr 2fr 2fr;
  align-items: center;
  justify-items: center;
}





