  <ng-container *ngIf="(emojiList | emojiSearch:emojiService.searchString) as result">
    <ng-container *ngIf="result.length!=0; else empty">
      <ul class="favourite">

      <li *ngFor="let emoji of result;" [class.favourite__show]="!emoji.star || emoji.del">
        <div class="favourite__block" *ngIf=" emoji.star">
          <button class="favourite__btn" (click)="starEmoji(emoji.id)">
            <svg class="favourite__icon-del" width="25px" height="25px">
              <use xlink:href="#del" width="25px" height="25px"></use>
            </svg>
          </button>
          <img class="favourite__img" src="{{emoji.href}}" alt="{{emoji.name}}">
          <p class="favourite__name">{{emoji.name}}</p>
          <a class="favourite__link" href="{{emoji.href}}" target="_blank">open emoji</a>
        </div>
      </li>
    </ul>
    </ng-container>
    <ng-template #empty>
      <div class="empty">
        <svg class="emoji__icon-del" width="150px" height="150px">
          <use xlink:href="#empty-box"></use>
        </svg>
      </div>
    </ng-template>
  </ng-container>
